[submodule "docopt"]
	path = docopt.cpp
	url = git@github.com:docopt/docopt.cpp.git
[submodule "PerfUtils"]
	path = PerfUtils
	url = git@github.com:PlatformLab/PerfUtils.git
[submodule "docopt.c"]
	path = docopt.c
	url = git@github.com:docopt/docopt.c.git
